@import url('https://fonts.googleapis.com/css?family=Raleway');

.rw {
    font-family: 'Raleway', sans-serif;
}
.headerSpace {
    height: 5vw;
}
.appContainer {
    border: 0.1vw solid #d3d3d3;
    padding: 1vw;
    background: #eee;
}
.ctr {
    text-align: center;
}
.noBorder {
    border: none;
}
.loader {
    width: 5vw;
    height: 5vw;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    border-top: 0.3vw solid #49AFDB;
    border-right: 0.3vw solid transparent;
    border-radius: 50%;
    text-align: center;
  }
  @keyframes spin {
      from { transform:rotate(0deg); }
      to { transform:rotate(360deg); }
  }